body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    font-size: 18px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
}

th {
    background: #2980b9;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background: #2c3e50;
    color: white;
}
